vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Jun 2013 00:37:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contact.html services.html about.html index.html
vti_author:SR|basement\\mtigue
vti_modifiedby:SR|basement\\mtigue
vti_timecreated:TR|23 Jun 2013 00:37:48 -0000
vti_cacheddtm:TX|23 Jun 2013 00:37:48 -0000
vti_filesize:IR|12458
vti_cachedlinkinfo:VX|S|../images/bg.png S|../images/topnav_s.gif S|../images/topnav_a.gif S|../images/h2_bg.png S|../images/btn_bg.png S|../images/h2_bg.png S|../images/button-overlay.png S|../images/h2_bg.png
vti_cachedsvcrellinks:VX|FSUS|images/bg.png FSUS|images/topnav_s.gif NSUS|images/topnav_a.gif NSUS|images/h2_bg.png FSUS|images/btn_bg.png NSUS|images/h2_bg.png NSUS|images/button-overlay.png NSUS|images/h2_bg.png
vti_syncwith_68.178.246.6\:21/dominic/app1:TX|23 Jun 2013 00:37:48 -0000
vti_syncofs_68.178.246.6\:21/dominic/app1:TW|24 Jun 2013 14:53:12 -0000
